.cover {
  --text-color: white;
  --text-shadow: 0 0 1px black;
  background: url("/cover.jpg") top center no-repeat ghostwhite;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: var(--text-color);
  text-shadow: var(--text-shadow);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding-top: 48px;
}
.title {
  font-size: var(--heading-size);
}
.tagline {
  color: var(--text-color);
  text-shadow: var(--text-shadow);
  font-style: italic;
  font-size: var(--subheading-size);
}
.cover-photo {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
