:root {
  --text-size: 16px;
  --heading-size: 21px;
  --subheading-size: 18px;
}
@media (min-width: 600px) {
  :root {
    --text-size: 21px;
    --heading-size: 41px;
    --subheading-size: 32px;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}
