.recipe {
  --padding: 0 1em;
}

@media (min-width: 600px) {
  .recipe {
    --padding: 0 3em;
  }
}

.recipe {
  padding: var(--padding);
}

.name {
  text-align: center;
}

.ingredients {
  list-style: none;
}

.qty, .unit, .ingredientName {
  display: inline-block;
  margin: 0;
}
.qty {
  width: 2em;
  text-align: right;
}
.unit {
  width: 4em;
  margin: 0 .3em;
}
