.search {
  position: absolute;
  top: 0;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-right: 0;
  height: 48px;
  width: 100%;
  transition: opacity 600ms ease;
}
.search input {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 12px 12px 12px 36px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  font-family: Roboto, Arial, sans-serif;
  text-overflow: ellipsis;
  color: #212121;
  background-color: transparent;

  border: none;
  outline: none;
  box-shadow: none;
}

.search::before {
  content: '🔍';
  display: block;
  padding: 12px;
  line-height: 24px;
  font-size: 16px;
  position: absolute;
}

.panel {
  transition: opacity 600ms ease;
}

.focused {
  opacity: 1;
}

.unfocused {
  opacity: 0;
  pointer-events: none;
}
