.spine {
  --padding: .3em;
}
@media (min-screen: 600px) {
  .spine {
    --padding: .3em 2em;
  }
}
.spine {
  border: 1px solid rgba(255, 255, 255, .5);
  border-width: 1px 0;
  box-shadow: 0 0 3px rgba(255, 255, 255, .5);
}
.spine p {
  background: rgba(255, 255, 255, .5);
  margin: 0;
  padding: var(--padding);
  text-align: right;
}