.toc {
  --padding: 0.3em;
}
@media (min-width: 600px) {
  .toc {
    --padding: 0.3em 2em;
  }
}

.toc {
  background: white;
  position: absolute;
  width: 100%;
  padding: var(--padding);
}

.recipeList {
  list-style: none;
  padding: 0;
}
.recipeListItem {
  height: 48px;
}
